.menu-item {
  list-style: none;
}

.menu-subitem {
  list-style: none;
  padding-left: 15px;
}

.menu-section {
  list-style: none;
  background-color: #90cdf3;
}

.menu {
  position: fixed;
  top: 70px;
}

.contenido {
  border-left:  2px solid #90cdf3;
  position: fixed;
  top: 70px;
  left: 220px;
  right: 50px;
  bottom: 0px;
  padding-left: 20px;
}

.list {
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

.title {
  text-align: center;
  padding-top: 5px;
}

.login {
  margin: auto;
  width:30%;
}

table {
  width:100%;
  background-color: #cee7ff;
  border-color: #9ccada;
}

th {
  text-align: center;
  background-color: #eeeee1;
}

td {
  text-align: center;
}

body {
  background-color: #aadcfd;
}
